@import url('https://fonts.googleapis.com/css?family=Lora:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

.container-fluid {
   
}


/*-----------------------------------------------------Job title and Education*/
.job-title {
    padding-top: 10px;
    padding-left: 10px;
}



/*-----------------------------------------------------Navbar*/


.nav-link > li {
    margin-right: 5px;
    margin-left: 10px;       
}



.nav-link {
    padding: 0;
}

.nav-link a i {
    display: block;
    padding-top: 20px;
    color: #e84610;
    text-align: center;
}

.nav-link a {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: #e84610;
    
    text-align: center;
    
    font-size: 18px;
    padding: 0; 
    
}

.nav-link i {
    font-size: 150%;
}

.nav-link-item {
    padding-right: 0;
}


/*-----------------------------------------------------Colors and styling */



.name {
     font-family: "Lato", sans-serif;
    color: #e84610;
    padding-left: 10px;
    padding-top: 15px;
    text-align: left;
}

.main-job-title {
    font-family: "Lato", sans-serif;
    color: #e84610;
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: left;
    

}


.title {
    font-family: "Oswald", sans-serif;
    color: #e84610;
    padding-top: 10px;
    padding-left: 10px;
     
}

.heading-title {
    font-family: "Oswald", sans-serif;
    color: #e84610;
     padding-left: 20px;
     margin-top: 20px;
    
}

.text-title {
    font-family: "Oswald", sans-serif;
    color: #6c757d;
    padding-left: 20px;
    
}
.list-inline .education-list {
    padding-left: 20px;
}

.education-list {
    font-family: "Oswald", sans-serif;
    color: #6c757d;
    padding: 10px;
}

.work-heading {
     font-family: "Oswald", sans-serif;
    color: #e84610;
    padding-top: 10px;

}

.job-description li {
    font-family: "Oswald", sans-serif;
    color: #6c757d;
    padding-left: 10px;
}

.job-title{
     font-family: "Oswald", sans-serif;
       padding-left: 10px;
}

.skill-title {
    font-family: "Oswald", sans-serif;
    color: #e84610;
    padding-left: 30px;
    padding-top: 10px;
}

.vl-description {
    font-family: "Oswald", sans-serif;
    
    color: #6c757d;
}


.info-list {
    font-family: "Oswald", sans-serif;
    color: #6c757d;
           
}

.info-section {
    padding-left: 20px;
    margin-bottom: 15px;
}


.bg-color-history {
    background-color: #e84610;
}

.contact-heading {
    color: #e84610;
}

.btn .send-color {
    color: #e84610;
}


.footer-items {
    color: #e84610;
}

.social-media-links li a i {
    color: #e84610;
}

/*-----------------------------------------------------Picture*/




.picture {
  
  background-position: center;
  background-size: cover;  
  clear: both;
  display: no-repeat;
  width: 100%;
  
  padding: 0;
  margin: 0;
        
}



/*-----------------------------------------------------Footer*/



footer {
    background-color: #343a40;  
    min-height: 90px;
    margin: 0;
    padding: 0;
}

.footer-items {
    font-family: "Lato", sans-serif;
    max-height: 150px;
    text-align: center;
    margin-top: 20px;

}


.social-media-links i {
    font-size: 150%;
    
  
}

.footer-links ul {
    padding-left: 0;
    text-align: center;
    
}



/*-----------------------------------------------------Portfolio styling*/


.portfolio{
    padding-top: 60px;
    padding-left: 30px;
    font-family: "Oswald", sans-serif;
    color: #e84610;
    
}

.portfolio-list-item a {
      text-decoration: none;
      color: #6c757d;
      font-family: "Oswald", sans-serif;    
      padding-left: 30px;
    
}

.skill-name {
    font-family: "Oswald", sans-serif;
    color: #6c757d;
    
}
.skill-list {
    padding: 4px;

}

.skill-name .skill-list {
    padding-left: 30px;
}

.vl-title {
    font-family: "Oswald", sans-serif;
    padding-left: 30px;
    padding-top: 10px;
}

.vl-description li {
    padding-left: 30px;
}
/*-----------------------------------------------------contact form*/

.contact-heading {
    font-family: "Oswald", sans-serif;
    margin-top: 20px; 
    margin-bottom: 15px;
}

.contact-form {
    max-width: 80%;
}

.btn {
    margin-top: 10px;
}