@import url('https://fonts.googleapis.com/css?family=Lora:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');


/*-----------------------------------------------------Job title and Education*/
.job-title {
    padding-top: 10px;
    padding-left: 10px;
}



/*-----------------------------------------------------Navbar*/


.nav-link > li {
    margin-right: 5px;
    margin-left: 6px;       
}

.nav-link {
    padding: 0;
}

.nav-link a i {
    display: block;
    padding-top: 20px;
    color: #e84610;
    text-align: center;
}

.nav-link a {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: #e84610;
    
    text-align: center;
    
    font-size: 18px;
    padding: 0; 
    
}

.nav-link i {
    font-size: 150%;
}

.nav-link-item {
    padding-right: 0;
}


/*-----------------------------------------------------Colors and styling */



.name {
     font-family: "Lato", sans-serif;
    color: #e84610;
    padding-left: 10px;
    padding-top: 15px;
    text-align: left;
}

.main-job-title {
    font-family: "Lato", sans-serif;
    color: #e84610;
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: left;
    

}


.title {
    font-family: "Oswald", sans-serif;
    color: #e84610;
    padding-top: 10px;
    padding-left: 10px;
     
}

.heading-title {
    font-family: "Oswald", sans-serif;
    color: #e84610;
     padding-left: 20px;
     margin-top: 20px;
    
}

.text-title {
    font-family: "Oswald", sans-serif;
    color: #6c757d;
    padding-left: 20px;
    
}
.list-inline .education-list {
    padding-left: 20px;
}

.education-list {
    font-family: "Oswald", sans-serif;
    color: #6c757d;
    padding: 10px;
}

.work-heading {
     font-family: "Oswald", sans-serif;
    color: #e84610;
    padding-top: 10px;

}

.job-description li {
    font-family: "Oswald", sans-serif;
    color: #6c757d;
    padding-left: 10px;
}

.job-title{
     font-family: "Oswald", sans-serif;
       padding-left: 10px;
}

.info-list {
    font-family: "Oswald", sans-serif;
    color: #6c757d;
           
}

.info-section {
    padding-left: 20px;
    margin-bottom: 15px;
}


.bg-color-history {
    background-color: #e84610;
}

.contact-heading {
    color: #e84610;
}

.btn .send-color {
    color: #e84610;
}


.footer-items {
    color: #e84610;
}

.social-media-links li a i {
    color: #e84610;
}

/*-----------------------------------------------------Picture*/

.picture {
  
width: 100%;
padding: 0;
margin: 0;    
}

/*-----------------------------------------------------Footer*/


footer {
    background-color: #343a40;  
    min-height: 90px;
    margin: 0;
    padding: 0;
}

.footer-items {
    font-family: "Lato", sans-serif;
    max-height: 150px;
    text-align: center;
    margin-top: 30px;

}


.social-media-links i {
    font-size: 150%;
    
  
}

.footer-links ul {
    padding-left: 0;
    text-align: center;
    
}



/*-----------------------------------------------------Portfolio styling*/


.portfolio-list-item a {
      text-decoration: none;
      color: #6c757d;
      font-family: "Oswald", sans-serif;    
      padding-left: 30px;
    
}

.project-list{
     color: #6c757d;
      font-family: "Oswald", sans-serif;    
      padding-left: 30px;
      
}
.skill-name {
    font-family: "Oswald", sans-serif;
    color: #6c757d;
    
} 

.skill-list {
    padding: 4px;
}

.skill-name .skill-list {
    padding-left: 30px;
}


/*-----------------------------------------------------contact form*/

.contact-heading {
    font-family: "Oswald", sans-serif;
    margin-top: 20px; 
    margin-bottom: 15px;
    padding-left: 20px;
}

.contact-form {
    max-width: 80%;
    padding-left: 40px;
}

.form-control {
    margin-top: 0;
    margin-bottom: 4px;
}

.form-title {
    font-family: "Oswald", sans-serif;

}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 320px) {
    .nav-link-item {
        padding-left: 0;
    }
}
/*-----------------------------------------------------Media Queries for big screens (4k) */

@media (min-width: 2550px) {
    .name { font-size: 65px;
    padding-left: 60px;}

    .main-job-title { font-size: 45px;
    padding-left:60px; }

    .nav-link i {
    font-size: 200%;}

    .nav-link > li {
    margin-right: 40px;
    margin-left: 60px;}

    .nav-link a { font-size: 35px;}

    .nav-link a i { padding-top: 25px;}

    .heading-title {padding-top: 30px;
    padding-left: 50px;
    font-size: 45px;}

    .text-title { padding-left: 50px;
    font-size: 30px;}

    .list-inline .education-list { padding-left: 50px;
    font-size: 30px;}

    .info-section { padding-left: 50px;}

    .info-list { font-size: 30px;}

    .skill-name .skill-list { padding-left: 50px;}

    .skill-list { padding: 10px;
    font-size: 30px;}

    .portfolio-list-item a{ padding-left: 50px;
    font-size: 30px;}

    .project-list { padding-left: 50px;
    font-size: 30px;}

    .job-title {padding-left: 35px;
    font-size: 30px;}

   .job-description { padding-left: 80px;
   font-size: 30px;}

   .contact-heading {padding-top: 30px;
    padding-left: 50px;
    font-size: 45px;}

    .contact-form {max-width: 90%;
    padding-left: 40px;}

.form-control { margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;}

.form-title {
font-size: 30px;}

.btn {margin-top: 5px;
   font-size: 30px;
   height: 90px;
   width: 230px;}

.footer-items { font-size: 180%;}

   
}